/* pretendard font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* 갈무리11 font */
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 수정 될 수 있음 */
:root {
  --spacing: 0.25rem;

  --color-brand1-primary: #f53b3b;
  --color-brand1-secondary: #d43333;
  --color-brand1-tertiary: #a62828;
  --color-brand1-strong: #ff5454;

  --color-primary: slate-50;
  --color-secondary: slate-300;
  --color-tertiary: slate-400;
  --color-subtle: slate-500;
  --color-inverse: slate-900;

  --font-display: "PretendardVariable", sans-serif;
  --font-body: "PretendardVariable", sans-serif;
}

body {
  font-family: Pretendard, sans-serif;
}

/* 갈무리11 폰트 클래스 */
.font-galmuri {
  font-family: "Galmuri11", "Galmuri9", "Galmuri7", monospace;
}
